/* img{
    width: 100%;
    height: 100%;

} */

div{
    height: 100%;
}
.container{
    background-image: url("https://images.indianexpress.com/2022/01/E-library.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}