ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;

}

li{
    padding: 10px;
    width: 250px;
    max-width: 250px;
    max-height: 400px;
}

.card1{
    padding: 2rem;
    margin: auto;
    padding: 1rem;
    width: 250px;
    height: 80%;
    width:100%;
    box-shadow: 5px 5px 10px #ccc;
    align-items: center;
    text-align: center;
}

.card >img{
    height: 60%;
    width: 82%;
    margin-left: 20px;
    justify-content: center;
    align-content: center;
}
.card1 > article{
    padding: 5px;
}
.card1>h1{
    padding: 8px;;
}
